# API
NODE_ENV=development
PORT=3001
DATABASE_URL=./taxos.db
JWT_SECRET=your-super-secret-jwt-key-min-32-chars
GEMINI_API_KEY=apikey...
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ankitmaurya2989@gmail.com
SMTP_APP_PASSWORD=mjsy xbtd nlbg wdhp 
MAIL_FROM=no-reply@taxos.local

# Frontend
VITE_API_URL=http://localhost:3001/api
#dist, .pnpm